/.vscode
/.idea
/target
/build
/r-01-getting-started/target
/r-02-guessing-game/target
/r-03-cpc/target
/r-04-understanding-owership/target
/r-05-structs-structure-data/target
/r-06-enums-pattern-matching/target
/r-07-project-crates-modules/target
/r-08-common-collection/target
/r-09-error-handling/target
/r-10-generic-traits-lifetimes/target
/r-11-automated-testing/target
/r-12-command-line-programming/target
/r-13-iterators-closures/target
/r-14-cargo-crates/target
/r-15-smart-pointers/target
/r-16-fearless-concurrency/target
/r-17-oop/target
/r-18-patterns-matching/target
/r-19-advance-features/target
/r-20-multreaded-web-server/target
